* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --highlight: #FF57B2;
  --heading: #F8F8F8;
  --background: #1A1D23;
  --info: #BBBBBB;
  --body: #D7D7D7;
}

@media(max-width: 1080px) {
  html {
    font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 87.5%;
  }
}

body, input, textarea, select, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

body {
  background: var(--background);
}

button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--heading);
}

p, li {
  color: var(--body);
}

a {
  color: var(--highlight);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.info {
  color: var(--info);
}
